/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  --glass-gray: hsla(0, 45%, 98%, 0.379);
  --glass-white: rgba(106,101,101,0.314), rgba(112,107,112,0.344);
  --glass-secondary: rgba(87,10,94), rgba(143,64,50);
  --glass-before: rgba(0, 0, 0, 0.616);
  --blur: hsla(0,0%,100%, 0.03);
  --blur-small: hsla(0,5%, 27%, 0.379);
  --secondary-cards: hsla(0,5%, 66%, 0.16);
}
/* *::after, *::before{
  box-sizing: border-box;
} */
.contactUs{
  background-image: url('../images/fresh_nikes_onFeet.jpeg');
  background-size: 100%;
  color: white;
  padding: 5rem 2rem 0 2rem;
}


.profilePage{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.profPicProfile{
  max-height: 23rem;
  width: 100%;
}

.userProfCard{
  max-height: 25rem;
  max-width: 25rem;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.recCard{
  margin: 0;
  box-shadow: 0 10px 15px rgba(0,0,0,0.4);
}

.card-img-overlay{
  z-index: 1;
}

.imgWords{
  border-radius: 10px;
  margin-bottom: 1rem;
  background-color: var(--glass-before);
  text-shadow: 0 30px 30px rgba(0,0,0,0.9);  
}

.recCardPhoto{
  opacity: .85;
  z-index: 1;
}
.reactionBtns{
  z-index: 2;
}

img, picture{
  max-width: 100%;
}

.App {
  text-align: center;
  margin-bottom: 5rem;
}

.footerNav{
  background-color: var(--glass-before);
  color: white;
  height: min-content;
  margin-top: 2rem;
}

.inputDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputDiv Form{
  width: 75%;
  margin-top: 5%;
  margin-bottom: 15%;
  padding: 5%;
  border: 1px solid black;
  border-radius: 10px;
}

.inputDiv Button{
  margin-bottom: 10%;
}

.switchToLogin:hover{
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.scrollUpBtn{
  background-color: none;
  margin: 1rem;
}

.scrollUpBtn:hover{
  opacity: 1;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */




/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
